{
  "singleQuote": true,
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "importOrder": [
    "(.*)(controllers)(.*)$",
    "(.*)(services)(.*)$",
    "(.*)(router)(.*)$",
    "(.*)/auth/(.*)$",
    "^@/components(.*)$",
    "^../(.*)$",
    "(.*)/ui/(.*)$",
    "(.*)/lib/(.*)$",
    "(.*)/types/(.*)$",
    "(.*)/db/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
